<div>
  <div *ngIf="!good">
    <div style="display:flex;">
      <p>Fichier EVP : </p>
      <input type="file" class="upload" (change)="changeListener($event)">
    </div>
    <div style="display:flex;">
      <p>Fichier LUCCA : </p>
      <input type="file" class="upload" (change)="changeListener2($event)">
    </div>
    <div *ngIf="doc1.length>0&&doc2.length>0">
      <button (click)="write()">Valider</button>
    </div>
  </div>
  
  <div *ngIf="good" style="display:flex">
    <button (click)="downloadCSVCarte()">Fichier Cartes</button>
    <button (click)="downloadCSVTickets()">Fichier Tickets</button>
  </div>
</div>